
* {
    transition: all .2s;
}

body {
    font: 16px 'Evolventa', sans-serif;

}

header {
    font: 18px 'Alegreya Sans SC', sans-serif;

}

.navbar .navbar-brand {
    font-size: 26px;

}

main {
    /*background-image: url("../static/Tree.png");
    background-attachment: scroll;
    background-size: 100%;
    background-repeat: no-repeat;*/
}


.navbar-brand {
    font-weight: 300;
    font-size: 26px;
}

.navbar-nav .nav-link {
    color: rgba(0, 0, 0, .6) !important
}

.navbar-nav .nav-link:hover {
    color: rgba(0, 0, 0, .9) !important;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 10rem;
    padding: .5rem 0;
    margin: .125rem 0 0;
    font-size: 1rem;
    color: #212529;
    text-align: left;
    list-style: none;
    background: -moz-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.32) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.32) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.32) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00ffffff', endColorstr='#52ffffff', GradientType=0); /* IE6-9 */
    background-clip: padding-box;
    border-radius: unset;
!important;
}

.bg_header {
    background: -moz-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.32) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.32) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.32) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00ffffff', endColorstr='#52ffffff', GradientType=0); /* IE6-9 */

}

.containerf {
    height: 90px;
    background: #080c2a;
    text-align:center;
    vertical-align: middle;
}

.copy {
    font: 20px 'Evolventa', sans-serif;
    font-weight: 500;
    color: #b6c4d8;
    padding-top: 15px;
    /*в жопу этот текст,пусть так и остается,задолбал*/
}
div p {
    margin-bottom: 0;
}

.header_mobile{
    display: none;
}

.img-fluid {
    max-width:100%;
    height:auto;

}

.our2 {
    display: block;
    margin-top: 80px;
    margin-bottom: 50px;
    font: 50px 'Evolventa', sans-serif;
    color: #2a2f4a;
    text-shadow: 2px 2px #b6c4d8;
    font-weight: 700;
}

.chrow {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;

}

.list_group_item {
    position: relative;
    display: block;
    padding: 5px 20px;
    margin-bottom: -1px;
    color: #2a2f4a;
    background-color: #b6c4d8;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
}


.card_body {
    color: #2a2f4a;
    background-color: #b6c4d8;
    padding:1.25rem;
    !important;
}

.card-title {
    font-weight: bold;
    color: white;
    text-align: center;
    text-shadow: 1px 1px #464a4e;
}

.card-text {
    text-align: center;
    font-size: 18px;
}

div.container p {
    font: 20px 'Evolventa', sans-serif;
    font-weight: 500;
    color: white;
    text-align: center;
    vertical-align: middle;
    padding: 20px 0;
}

div.container {
    text-align: center;
    vertical-align: middle;
}

.col-sm-4 {
    background: #2a2f4a;
    border: white solid 4px;
}

.col-sm {
    background: #b6c4d8;
    border: white solid 4px;

}



.map {
    height: 300px;
    width: 90%;
    margin: 20px 5%;


}

.our {
    display: block;
    margin-top: 80px;
    margin-bottom: 40px;
    font: 50px 'Evolventa', sans-serif;
    color: #2a2f4a;
    text-shadow: 2px 2px #b6c4d8;
    font-weight: 700;

}

.shadow {
    -webkit-box-shadow: 0px 21px 21px -14px rgba(20,28,69,0.48);
    -moz-box-shadow: 0px 21px 21px -14px rgba(20,28,69,0.48);
    box-shadow: 0px 21px 21px -14px rgba(20,28,69,0.48);
}

.row2 {
    align-content: center;
    flex-wrap: wrap;
    justify-content: space-evenly;
    display:-ms-flexbox;
    display:flex;
    -ms-flex-wrap:wrap;
    !important;
}

.plusborders {
    border: #2a2f4a solid 12px;
    height: 318px;
    z-index: 1;
}

.cardimg {
    float: contour;
    width: 293px;
    margin-left: 15px;
    margin-bottom: -306px;
    z-index: 2;
}

.cardimgt {
    float: contour;
    width: 250px;
    margin-left: 50px;
    margin-bottom: -306px;
    z-index: 2;
}

.card{
    position:relative;
    display:-ms-flexbox;
    display:flex;
    -ms-flex-direction:column;
    flex-direction:column;
    min-width:0;word-wrap:break-word;
    background-clip:border-box;
    border-radius:.25rem;
    align-self: flex-end;
    margin-bottom: 15px;
}

.text_box {
    width: 90%;
    font-family: Evolventa;
    font-size: 18px;
    margin-top: 40px;
    margin-left: 40px;
    max-height: 300px;
}

strong.j {
    font-size: 20px;
}

.text_cont {
    padding-right: 10px;
    padding-left: 10px;
    margin-right: auto;
    margin-left: auto;
}

.autor {
    font-family: Evolventa;
    font-size: 30px;
}

.morihey {

    font-family: Evolventa;
    font-size: 32px;
    color: #b6c4d8;
    text-shadow: 1px 1px #464a4e;
    margin-top: 30px;

}

.morihey2 {

    font-family: Evolventa;
    font-size: 32px;
    color: #b6c4d8;
    text-shadow: 1px 1px #464a4e;
    margin: auto;
    text-align: center;
    padding-top: 15px;

}


.blue_border {
    width: 90%;
    border-left: 0;
    border-color: #b6c4d8;
}


.MUPhoto {
    height: 400px;
    float: left;
    margin: -62px 20px 3px 20px;

}

.MUPhoto2 {
    margin: auto;
    height: 350px;
    display: flex;

}

.cont {
    display: inline-block;
    width: 90%;
    border: #b6c4d8 solid 11px;
    margin-top: 50px;
    height: 360px;
}

.cont2 {
    width: 330px;
    border: #b6c4d8 solid 9px;
    margin: auto;
    height: 90px;

    /*-webkit-box-shadow: inset 0px 0px 1px 2px rgba(42,47,74,0.64);*/
    /*-moz-box-shadow: inset 0px 0px 1px 2px rgba(42,47,74,0.64);*/
    /*box-shadow: inset 0px 0px 1px 2px rgba(42,47,74,0.64);*/

}

.contain {
    height: 300px;
    width: 200px;
    border: #0b2e13;
    background: #0c5460;
}

/*.text_container2 {*/
    /*width: 320px;*/
    /*margin: auto;*/
    /*padding-top: 20px;*/
    /*text-align: center;*/
    /*font-size: 18px;*/
/*}*/

.sensei {
    display: block;
}

.sensei2 {
    display: none;
}

.shc {
    font: 20px 'Evolventa', sans-serif;
    font-weight: 500;
    color: white;
}

.linkclick {
    color: #2a2f4a;
    font-weight: bold;
    font-size: 20px;

}



/*Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575px) {
    .bg_header {
        background: -moz-linear-gradient(269deg, rgba(255, 255, 255, 0.4) 0%, rgba(255, 255, 255, 0.9) 100%); /* ff3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255, 255, 255, 0.4)), color-stop(100%, rgba(255, 255, 255, 0.9))); /* safari4+,chrome */
        background: -webkit-linear-gradient(269deg, rgba(255, 255, 255, 0.4) 0%, rgba(255, 255, 255, 0.9) 100%); /* safari5.1+,chrome10+ */
        background: -o-linear-gradient(269deg, rgba(255, 255, 255, 0.4) 0%, rgba(255, 255, 255, 0.9) 100%); /* opera 11.10+ */
        background: -ms-linear-gradient(269deg, rgba(255, 255, 255, 0.4) 0%, rgba(255, 255, 255, 0.9) 100%); /* ie10+ */
        background: linear-gradient(181deg, rgba(255, 255, 255, 0.4) 0%, rgba(255, 255, 255, 0.9) 100%); /* w3c */
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#FFFFFF', GradientType=0); /* ie6-9 */
    }

    .containerf {
        height: 50px;
        background: #080c2a;
    }

    .header_mobile{
        display: block;
        max-width:100%;
        height:auto;
    }

    .img-fluid {
        display: none;

    }

    .our {
        padding: 35px 0;
        width: 60%;
        margin: auto;
    }

    .sensei {
        display: none;
    }

    .sensei2 {
        display: block;
    }
    .text_box2 {
        text-align: center;
        margin: auto;
        padding-top: 20px;
    }

}

/*Small devices (landscape phones, less than 768px)*/
@media (max-width: 767px) {
    .bg_header {
        background: -moz-linear-gradient(269deg, rgba(255, 255, 255, 0.4) 0%, rgba(255, 255, 255, 0.9) 100%); /* ff3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255, 255, 255, 0.4)), color-stop(100%, rgba(255, 255, 255, 0.9))); /* safari4+,chrome */
        background: -webkit-linear-gradient(269deg, rgba(255, 255, 255, 0.4) 0%, rgba(255, 255, 255, 0.9) 100%); /* safari5.1+,chrome10+ */
        background: -o-linear-gradient(269deg, rgba(255, 255, 255, 0.4) 0%, rgba(255, 255, 255, 0.9) 100%); /* opera 11.10+ */
        background: -ms-linear-gradient(269deg, rgba(255, 255, 255, 0.4) 0%, rgba(255, 255, 255, 0.9) 100%); /* ie10+ */
        background: linear-gradient(181deg, rgba(255, 255, 255, 0.4) 0%, rgba(255, 255, 255, 0.9) 100%); /* w3c */
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#FFFFFF', GradientType=0); /* ie6-9 */
    }

    .containerf {
        height: 50px;
        background: #080c2a;
    }
    .sensei {
        display: none;
    }

    .sensei2 {
        display: block;
    }

    #schedulediv {

        margin: auto;
    }
    div.container {
        max-width: 700px;
        !important;
    }

    .col-sm-4 {
        background: #2a2f4a;
        border: white solid 2px;

    }

    .col-sm {
        background: #b6c4d8;
        border: white solid 2px;

    }

    .text_container2 {
        text-align: justify;
        width: 650px;
        margin: auto;
        padding-top: 20px;
    }
}

/*Medium devices (tablets, less than 992px)*/
@media (max-width: 991px) {
    .sensei {
        display: none;
    }

    .sensei2 {
        display: block;
    }
    div.container {
        max-width: 700px;
    !important;
    }

    .col-sm-4 {
        background: #2a2f4a;
        border: white solid 2px;

    }

    .col-sm {
        background: #b6c4d8;
        border: white solid 2px;

    }

    .text_container2 {
        text-align: justify;
        width: 70%;
        margin: auto;
        padding-top: 20px;
    }
}

/*Large devices (desktops, less than 1200px)*/
@media (max-width: 1199px) {
}

/*Extra large devices (large desktops)*/
